<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/orders.css">
    <title>Document</title>
</head>
<body>
    <header style="max-width: 1440px; margin: auto;">
        {{>header}}
    </header>

    <div class="admin-panel">
        <ul class="admin-links">
            <li><a href="/admin/create" {{#if create}}class="link-active"{{/if}}>Create new ad</a></li>
            <li><a href="/admin/edit" {{#if search}}class="link-active"{{/if}} {{#if edit}}class="link-active"{{/if}}>Edit ad</a></li>
            <li><a href="/admin/orders" {{#if orders}}class="link-active"{{/if}}>Check orders</a></li>
        </ul>
        {{#if greet}}
            <h1>Admin Panel</h1>
            <h2>Hello, {{greet}}</h2>
        {{/if}}
        {{#if create}}{{>create}}{{/if}}
        {{#if search}}{{>editSearch}}{{/if}}
        {{#if edit}}{{>edit}}{{/if}}
        {{#if orders}}{{>orders}}{{/if}}
    </div>

    <script src="/js/admin.js"></script>
</body>
</html>