<div class="create-wrap">
    <form action="/admin/create" method="POST" class="create-ad-form">
    <input type="text" placeholder="Name of ad" name="name" required>
    <select name="manufacturer" id="manufacturer">
        <option value="Apple" name="Apple">Apple</option>
        <option value="Samsung" name="Samsung">Samsung</option>
        <option value="Huawei" name="Huawei">Huawei</option>
        <option value="Xiaomi" name="Xiaomi">Xiaomi</option>
        <option value="Google" name="Google">Google</option>
    </select>
    <input type="text" placeholder="Model" name="model" required>
    <textarea name="description" id="description" cols="30" rows="10" placeholder="Description" required></textarea>
    <input type="text" placeholder="Amount" name="amount" required>
    <input type="text" placeholder="Price" name="price" required>
    <button type="submit">Create</button>
</form>
</div>
