<div class="edit-search-wrap">
    <form action="/admin/edit" method="POST">
        <input type="text" name="value" placeholder="Code of ad">
        <button type="submit">Find</button>
    </form>
</div>