<div class="wrap">
    <ul class="top-links">
        <li>About</li>
        <li>Payments</li>
        <li>Shipping</li>
        <li>Contacts</li>
    </ul>
    <div class="logo-search-bag">
        <div class="logo-search">
            <h1 id="logo"><a href="/">E-Store</a></h1>
            <form action="">
                <input type="text" placeholder="Search">
                <button type="submit" id="search-btn">Find</button>
            </form>
        </div>
        <div class="bag-login">
            <form action="{{#if login}}/user/login{{else}}/user/logout{{/if}}" method="POST"><button id="{{#if login}}login-btn{{else}}logout-btn{{/if}}">{{#if login}}Login{{else}}Logout{{/if}}</button></form>
            <form action="/cart"><button id="cart-btn">Cart</button></form>
        </div>
    </div>
    <ul class="categories">
            <li><a href="/goods?manufacturer=Apple">Apple</a></li>
            <li><a href="/goods?manufacturer=Samsung">Samsung</a></li>
            <li><a href="/goods?manufacturer=Huawei">Huawei</a></li>
            <li><a href="/goods?manufacturer=Xiaomi">Xiaomi</a></li>
            <li><a href="/goods?manufacturer=Google">Google</a></li>
        </ul>
</div>
