<div class="orders-block">
    {{#each orders}}
        <div class="single-order">
            {{>mainOrderBlock}}
            <div class="in-total-block">
                <h3>In total</h3>
                <div class="in-total-text">
                    <p>To pay</p>
                    <p class="full-sum">{{this.fullSum}}UAH</p>
                </div>
                <div class="in-total-buttons">
                    <button id="process-btn" class="order-buttons" data-status="1" data-id="{{this._id}}">To processing</button>
                    <button id="sent-btn" class="order-buttons" data-status="2" data-id="{{this._id}}">Sent</button>
                    <button id="delievered-btn" class="order-buttons" data-status="3" data-id="{{this._id}}">Delivered</button>
                </div>
            </div>
        </div>
    {{/each}}
</div>