.cart-block {
    margin: 32px auto 0;
    max-width: 1440px;
    box-shadow: -4px 0px 28px -12px rgba(168,168,168,1);
    background: white;
    padding: 32px 0;
}

h2 {
    font-size: 46px;
    text-align: center;
    color: rgb(46, 46, 46);
    margin-top: 0;
}

.left-side img {
    width: 200px;
    max-height: none;
}

.img-wrap {
    height: 200px;
    min-height: 200px;
    overflow: hidden;
}

.good-item {
    display: flex;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    width: 960px;
    margin: auto;
    padding: 16px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: 0px 0px 28px -10px rgba(168,168,168,1);
}

.left-side {
    display: flex;
}

.left-side #delete-button {
    background-color: rgb(207, 53, 53);
    border: 0;
    font-weight: 700;
    color: white;
    border-radius: 4px;
    transition: 0.2s;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.left-side #delete-button:hover {
    background-color: rgb(204, 22, 22);
    transition: 0.2s;
}

.item-price {
    background-color: #fff3b5;
    padding: 8px;
    border-radius: 4px;
    display: block;
    width: 100px;
    text-align: center;
}

.right-side {
    display: flex;
    position: absolute;
    right: 185px;
    top: 70px;
}

.item-summ {
    margin: 0;
    padding: 7px 0;
    padding-left: 10px;
    right: 30px;
    top: 67px;
    position: absolute;
    font-size: 17px;
}

.right-side input {
    width: 30px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
}

.right-side input:disabled {
    background: white;
}

#minus-btn, #plus-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

#minus-btn:active, #plus-btn:active {
    border: none;
}

.in-total {
    background-color: #fff3b5;
    width: 260px;
    padding: 24px;
    border-radius: 4px;
    text-align: center;
    margin: 36px auto 0;
    box-shadow: 0px 0px 24px -8px rgba(168,168,168,1);
}

.in-total-text {
    display: flex;
    justify-content: space-between;
}

.in-total-text p {
    margin: 0;
    font-size: 18px;
}

.full-sum {
    font-size: 20px !important;
}

#checkout-btn {
    border: 0;
    border-radius: 4px;
    background: rgb(64,199,129);
    padding: 12px 93px;
    color: white;
    font-size: 18px;
    margin: 16px auto 0;
    transition: 0.2s;
    cursor: pointer;
}

#checkout-btn:hover { 
    background: rgb(53, 167, 110); 
    transition: 0.2s;
}

.empty-title {
    font-size: 56px;
    text-align: center;
    color: rgb(46, 46, 46);
}